/* © Victor Loots, 2022
/*
/* Fonts */

@font-face {
  font-family: 'lucky_luke_regular';
  src: url('../fonts/lucky_luke-webfont.eot');
  src: url('../fonts/lucky_luke-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lucky_luke-webfont.woff2') format('woff2'),
    url('../fonts/lucky_luke-webfont.woff') format('woff'),
    url('../fonts/lucky_luke-webfont.ttf') format('truetype'),
    url('../fonts/lucky_luke-webfont.svg#lucky_luke_regular') format('svg');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'sf_cartoonist_handregular';
  src: url('../fonts/sf_cartoonist_hand-webfont.eot');
  src: url('../fonts/sf_cartoonist_hand-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sf_cartoonist_hand-webfont.woff2') format('woff2'),
    url('../fonts/sf_cartoonist_hand-webfont.woff') format('woff'),
    url('../fonts/sf_cartoonist_hand-webfont.ttf') format('truetype'),
    url('../fonts/sf_cartoonist_hand-webfont.svg#sf_cartoonist_handregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*
/* Variabelen */
:root {
  --font_titel: "lucky_luke_regular", Georgia, serif;
  --font-brood: "sf_cartoonist_handregular", Verdana, sans-serif;
  --kleur_wit: #fdfbfc;
  --kleur_zwart: #2b211c;
  --kleur_geel: #ebd754;
  --kleur_rood: #b20d14;
}

/* 
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
/* Standards */
body {
  min-height: 100%;
  color: var(--kleur_zwart);
  background-color: var(--kleur_wit);
  font-family: var(--font-brood);
  font-size: 1rem;
  line-height: 1.5;
}

#container {
  width: 100%;
  padding: 2vh;
}

#my_nav {
  position: sticky;
  top: 0;
  right: 0;

}

#menu_button {
  position: absolute;
  top: 5px;
  right: 5px;
  display: block;
  font-size: 2rem;
}
.menu_button_color{
  color: var(--kleur_wit);
}
#menu_button:hover{
  cursor: pointer;

}

#nav_links {
  background-color: var(--kleur_rood);
}

#nav_links ul{
  list-style-image: url(../img/star.png);
  padding-left: 4rem;
}
#nav_links a {
  color: var(--kleur_wit);
  text-decoration: none;
  font-size: 2rem;
  font-family: var(--font_titel);
  letter-spacing: 2px;
  padding: 1rem;

}

#nav_links a:hover{
  cursor: pointer;
  background-color: #2b211c;
}





header {
  background: var(--kleur_geel) url(../img/bullet_hole_1.png) 10% 10% no-repeat;
}

.header_banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


h1 {
  font-family: var(--font_titel);
  font-weight: 900;
  font-size: 8rem;
  letter-spacing: 5px;
  text-align: center;
}

.columns {
  columns: 1;
  padding: 1rem;
  margin: 5rem 0;
}

.columns .item,
.columns p {
  break-inside: avoid;
}

.columns h2,
.grid h3 {
  font-family: var(--font_titel);
  letter-spacing: 3px;
  color: var(--kleur_rood);
  padding: 0 0 1rem 0;
}

p {
  padding: 1rem 0;
}

.indent {
  text-indent: 1rem;
}

.grid_title {
  display: block;
  width: 100%;
  background: var(--kleur_geel) url(../img/bullet_hole_2.png) 95% 85% no-repeat;
  text-align: center;
  padding: 2rem;
}

.grid_title h2 {
  font-family: var(--font_titel);
  letter-spacing: 3px;
  color: var(--kleur_zwart);
  font-size: 4rem;

}


.bg {
  width: 100%;
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.bg_luke {
  background-image: url(../img/luke.jpg);
}

.bg_jolly {
  background-image: url(../img/Jolly.jpg);
}

.bg_dog {
  background-image: url(../img/rantanplan.jpg);
}

.bg_joe {
  background-image: url(../img/Joe.jpg);
}

.bg_jack {
  background-image: url(../img/Jack.jpg);
}

.bg_william {
  background-image: url(../img/william.jpg);
}

.bg_avarell {
  background-image: url(../img/averell.jpg);
}

.dropcap {
  font-family: var(--font_titel);
  float: left;
  font-size: 5rem;
  line-height: 0.5;
  padding: 2rem 1rem 0.5rem 0;
}

footer {
  width: 100%;
  height: 75px;
  padding-top: 3rem;
  display: flex;
  justify-content: space-around;
  background: url(../img/bullet_hole_3.png) center center no-repeat;
}

@media (max-width:620px){
  .nav_links_hidden {
    display: none;

  }
  #nav_links a {
    display: block;
  }
  
}
@media (min-width: 620px) {
  #container {
    width: 90%;
    margin: 0 auto;
  }


  .columns {
    columns: 2;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

  }


  .joe {
    grid-area: 2/1/2/2;

  }

  .jack {
    grid-area: 2/2/2/3;


  }

  .william {
    grid-area: 3/1/3/2;

  }

  .avarell {
    grid-area: 3/2/3/3;

  }
}

@media (min-width: 960px) {
  #container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
  #nav_links li{
    display: inline;
  
  }

  .columns {
    columns: 3;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }


  .joe {
    grid-area: 2/1/2/2;

  }

  .jack {
    grid-area: 2/2/2/3;


  }

  .william {
    grid-area: 2/3/2/4;

  }

  .avarell {
    grid-area: 2/4/2/5;

  }
}